body {
  font-family: "Times New Roman", serif;
  background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 182, 193, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid gray;
}

button {
  padding: 10px;
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: dodgerblue;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  color: black;
  }
